
<div class="ember-table-cell-container">
  <span class="ember-table-content">
    <span> {{view.cellContent_branch}} </span>
    <br>
    <span style="color:grey; font-size:.8em"> {{view.cellContent_address}}, {{view.cellContent_loc}} </span>
  </span>
</div>

