<div class="ember-table-cell-container">
  <span class="ember-table-content">
    <span class='cell-content-rank'>
        {{view.cellContent_rank}}
    </span>
    {{view.cellContent}} ({{view.cellContent_pct}})
  </span>
</div>
