
<div class="ember-table-cell-container">
    <span {{bind-attr class=":ember-table-content view.highlighted:row-highlighted"}}>
        <span class='cell-content-rank'>
            {{view.cellContent_rank}}
        </span>
        {{view.cellContent}}
    </span>
</div>

