<div class="ember-table-content-container" id="time-series-context" data-toggle="context" style="overflow:visible; cursor:context-menu;">
  <span class="ember-table-content">
    {{view.content.headerCellName}}
  </span>
</div>
