
<div class="chart-wrapper col-sm-6"
        style="width:50%; background-color:rgb(240,240,240); \
        color:black; z-index:999; border-right: 1px solid black;">
    <div class="chart-container" style="overflow-y:auto;">
        {{horizontal-bar-chart
            data=view.data
            selectedSeedColor="rgb(140, 202, 197)"}}
    </div>
</div>

