        <h4 class="sidebar-table-header"> Transfers </h4>
        
        <div class="col-xs-3">
            <label> Show Transfers on Map </label>
            {{view App.ToggleSwitch checkedBinding="visible"}}
        </div>
        
        {{table_data}}

